$imgAPI-mobile0: '/images/mobile/mobile_banner.png';
$imgAPI-mobile1: '/images/mobile/widget-top.png';
$imgAPI-mobile2: '/images/mobile/widget-left.png';
$imgAPI-mobile3: '/images/mobile/widget-right.png';
$imgAPI-mobile4: '/images/mobile/mobile_feature.png';
$imgAPI-mobile5: '/images/mobile/mobile_feature2.png';
$imgAPI-mobile6: 'https://via.placeholder.com/536x302/fbd2ff/757575';
$imgAPI-mobile7: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile8: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile9: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile10: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile11: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile12: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile13: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile14: '/images/mobile/widget_screen1.png';
$imgAPI-mobile15: '/images/mobile/widget_screen2.png';
$imgAPI-mobile16: '/images/mobile/widget_screen3.png';
$imgAPI-mobile17: '/images/mobile/widget_screen4.png';
$imgAPI-mobile18: '/images/mobile/widget_screen5.png';
$imgAPI-mobile19: '/images/mobile/widget_screen6.png';
$imgAPI-mobile20: '/images/mobile/widget_screen7.png';
$imgAPI-mobile21: '';
