[submodule "web/home"]
	path = web/home
	url = git@github.com:alisoft/pangu-blog.git
[submodule "web/admin"]
	path = web/admin
	url = git@github.com:alisoft/pangu-admin.git
[submodule "web/mobile"]
	path = web/mobile
	url = git@github.com:alisoft/pangu-mobile.git
